@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html body,p {
  font-family: 'Poppins', sans-serif;
  line-height: 2;
  background-image: url('/bk.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  }

  html body h1,h2,h3,h4,h5,h6,.nav-link {
    font-family: 'League Spartan', sans-serif;
  }

  html body p.fp {
    max-width: 40em;
  }

  @media only screen and (min-width: 800px) {
    .megaMargin {
      margin-top: 5rem;
      margin-left: 5rem;
    }
  }

  nav.bg-light {
    background-color: #ffffff00!important;
}

html body .nav-link.active {
  position: relative;
}

html body .nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  height: 2px; 
  width: 100%;
  background-color: black;
}

html body .nav-link {
  margin-right: 3rem;
}

html body h1 {
  font-size: 24pt;
}

html body .whitebk {
  background-color: white;
  padding: 5rem;
}

html body a {
  color: #4a7f9a;
  text-decoration: none;  /* Optional: Removes underline */
}

html body a:hover {
  color: #39677c;  /* Darker blue on hover */
}

html body a:active {
  color: #2d5065;  /* Even darker blue when active */
}

html body a:focus {
  color: #2d5065;  /* Even darker blue when focused */
  outline: none;  /* Optional: Removes outline */
}
